<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">食事の編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "form", locals: { menu: @menu } %>
    </div>
  </div>
</div>